In [3]:
import sqlite3

conn = sqlite3.connect('my_database.db')

cursor = conn.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, age INTEGER)")
conn.commit()
conn.close()

In [3]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# 테이블 정보 조회
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()

# 테이블 목록 출력
print("\n[Tables in database]")
for table in tables:
    print(f"- {table[0]}")



# 모든 사용자 데이터 조회
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

# 결과 출력
for row in rows:
    print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}")

conn.close()

[Tables in database]
- users
- sqlite_sequence

In [4]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# 테스트 데이터 삽입
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("John Doe", 25))
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Jane Smith", 30))
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Bob Johnson", 35))
conn.commit()

# 삽입된 데이터 조회
print("\n[Inserted test data]")
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}")

conn.close()

[Inserted test data]
ID: 1, Name: John Doe, Age: 25
ID: 2, Name: Jane Smith, Age: 30
ID: 3, Name: Bob Johnson, Age: 35

In [5]:
rows

[(1, 'John Doe', 25), (2, 'Jane Smith', 30), (3, 'Bob Johnson', 35)]

In [ ]:
INSERT INTO users (name, age) 
VALUES (?, ?)

In [ ]:
SELECT name 
FROM sqlite_master 
WHERE type='table'

In [8]:
import sqlite3
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS my_database (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, description TEXT, price INTEGER)")

insert_sql = "INSERT INTO my_database (name, description, price) VALUES (?, ?, ?)"
products_to_insert = [
    ('노트북', '고성능 노트북', 1200000),
    ('마우스', '무선 마우스', 30000),
    ('키보드', '기계식 키보드', 80000)
]
cursor.executemany(insert_sql, products_to_insert) # executemany: 여러 데이터 한 번에 삽입
conn.commit()

In [9]:
cursor.execute("SELECT * FROM my_database")
rows = cursor.fetchall()

for row in rows:
    print(f"ID: {row[0]}, Name: {row[1]}, Description: {row[2]}, Price: {row[3]}")

ID: 1, Name: 노트북, Description: 고성능 노트북, Price: 1200000
ID: 2, Name: 마우스, Description: 무선 마우스, Price: 30000
ID: 3, Name: 키보드, Description: 기계식 키보드, Price: 80000

In [ ]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()


cursor = sqlite3.connect('my_database.db').cursor()

In [2]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()


create_table_sql = """
CREATE TABLE products (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    description TEXT,
    price REAL
);
"""

cursor.execute(create_table_sql)
conn.commit()
conn.close()

In [6]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# 테이블 스키마 정보 조회
cursor.execute("PRAGMA table_info(products)")
table_info = cursor.fetchall()

print("=== Products 테이블 스키마 정보 ===")
for column in table_info:
    print(f"{column[1]}, {column[2]}, {column[3]}, {column[4]},{column[5]}")
print()



# 테이블의 모든 데이터 조회
cursor.execute("SELECT * FROM products")
rows = cursor.fetchall()

# 결과 출력
print("=== Products 테이블 데이터 ===")
if len(rows) == 0:
    print("테이블에 데이터가 없습니다.")
else:
    for row in rows:
        print(f"{row[0]}, {row[1]}, {row[2]}, {row[3]}")

conn.close()

=== Products 테이블 스키마 정보 ===
id, INTEGER, 0, None,1
name, TEXT, 1, None,0
description, TEXT, 0, None,0
price, REAL, 0, None,0

In [21]:
# 닫았으면 반드시 다시 열어줘야함!
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

insert_sql = "INSERT INTO products (name, description, price) VALUES (?, ?, ?)"
products_to_insert = [
    ('노트북', '고성능 노트북', 1200000),
    ('마우스', '무선 마우스', 30000),
    ('키보드', '기계식 키보드', 80000),
    ('프린터', None, 100000),
    (None,'',10)
]
cursor.executemany(insert_sql, products_to_insert) # executemany: 여러 데이터 한 번에 삽입

conn.commit()
conn.close()

IntegrityError: NOT NULL constraint failed: products.name

In [22]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# 테이블 스키마 정보 조회
cursor.execute("PRAGMA table_info(products)")
table_info = cursor.fetchall()

print("=== Products 테이블 스키마 정보 ===")
for column in table_info:
    print(f"{column[1]}, {column[2]}, {column[3]}, {column[4]},{column[5]}")
print()



# 테이블의 모든 데이터 조회
cursor.execute("SELECT * FROM products")
rows = cursor.fetchall()

# 결과 출력
print("=== Products 테이블 데이터 ===")
if len(rows) == 0:
    print("테이블에 데이터가 없습니다.")
else:
    for row in rows:
        print(f"{row[0]}, {row[1]}, {row[2]}, {row[3]}")

conn.close()

=== Products 테이블 스키마 정보 ===
id, INTEGER, 0, None,1
name, TEXT, 1, None,0
description, TEXT, 0, None,0
price, REAL, 0, None,0

=== Products 테이블 데이터 ===
1, 노트북, 고성능 노트북, 1200000.0
2, 마우스, 무선 마우스, 30000.0
3, 키보드, 기계식 키보드, 80000.0
4, 노트북, 고성능 노트북, 1200000.0
5, 마우스, 무선 마우스, 30000.0
6, 키보드, 기계식 키보드, 80000.0
7, 프린터, , 100000.0
8, 노트북, 고성능 노트북, 1200000.0
9, 마우스, 무선 마우스, 30000.0
10, 키보드, 기계식 키보드, 80000.0
11, 프린터, , 100000.0
12, 노트북, 고성능 노트북, 1200000.0
13, 마우스, 무선 마우스, 30000.0
14, 키보드, 기계식 키보드, 80000.0
15, 프린터, , 100000.0
16, , , 10.0
17, 노트북, 고성능 노트북, 1200000.0
18, 마우스, 무선 마우스, 30000.0
19, 키보드, 기계식 키보드, 80000.0
20, 프린터, None, 100000.0